doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Mis favs
    body 

        include ../head.pug

        header
            nav(class='navbar')
                    a(href="#", class="nav-branding") MovieApp
                    ul(class="nav-menu")
                        li(class="nav-item")
                            a(href="/dashboard", class="nav-link") Dashboard
                        li(class="nav-item")
                            a(href="/search", class="nav-link") Search
                        li(class="nav-item")
                            a(href="/logout", class="nav-link") Logout
                    div(class="hamburger")
                            span(class="bar")
                            span(class="bar")
                            span(class="bar")

        h2 My favourite movies (Aquí irán las pelis que guarden en favoritos)
        section 
            if films 
                each film in films
                    div  
                        p Title: #{film.title}
                        p Year: #{film.year}
                        p Director: #{film.director}
                        p Actorlist: #{film.casting}
                        p Plot: #{film.plot}
                        p Genre: #{film.genre}
                        p Reviews: #{film.rating}
                        p Duration: #{film.duration}                     
                        img(src=film.image, alt="Imagen de la película") 

                        //-- var idMovie = film._id;
                        //-button(class="btn_delete" value = idMovie) Borrar
   

