doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Busca tu movie
    body 

        include  ../head.pug

        header
            nav(class='navbar')
                a(href="#", class="nav-branding") MovieApp
                ul(class="nav-menu")
                    li(class="nav-item")
                        a(href="/dashboard", class="nav-link") Dashboard
                    li(class="nav-item")
                        a(href="/search", class="nav-link") Search
                    li(class="nav-item")
                        a(href="/movies", class="nav-link") My movies
                    li(class="nav-item")
                        a(href="/logout", class="nav-link") Logout
                div(class="hamburger")
                        span(class="bar")
                        span(class="bar")
                        span(class="bar")

        section  
            ul
                each film in films
                    div  
                        p Año: #{film.description}
                        p Duración: #{film.runtimeStr}
                        p Género/s: #{film.genres}
                        p Título: #{film.title}
                        p Director: #{film.directors}
                        img(src=film.image, alt="Imagen de la película")
                        - var idMovie = film.id;
                        a(href='/movie/' + idMovie) Detalle
                        form(action="/savemovie", method="post") 
                            button(type="submit") Guardar en favoritos

        script(src="/js/hamburger.js") 