include  ../head.pug

input(type="search")


section  
    ul
        each film in films
            div  
                p Año: #{film.description}
                p Duración: #{film.runtimeStr}
                p Género/s: #{film.genres}
                p Título: #{film.title}
                p Director: #{film.directors}
                img(src=film.image, alt="Imagen de la película")
                button.btnDetalles Ver detalles de #{film.title}
