doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Movies 
    
    body

        header
            nav(class='navbar')
                    a(href="#", class="nav-branding") MovieApp
                    ul(class="nav-menu")
                        li(class="nav-item")
                            a(href="/dashboard", class="nav-link") Dashboard
                        li(class="nav-item")
                            a(href="/search", class="nav-link") Search
                        li(class="nav-item")
                            a(href="/movies", class="nav-link") My movies
                        li(class="nav-item")
                            a(href="/logout", class="nav-link") Logout
                    div(class="hamburger")
                            span(class="bar")
                            span(class="bar")
                            span(class="bar") 
        section 
            form(action="/savemovie", method="post") 
                button(type="submit") Add to favourites
            p Year: #{film.info.year}
            p Duration: #{film.info.runtimeStr}
            p Genre: #{film.info.genres}
            p Title: #{film.info.title}
            p Plot : #{film.info.plot}
            img(src=film.info.image, alt="Imagen de la película")
            if reviewS !== 'undefined'
                p Review Sensacine:
                p Author: #{film.reviewS.innerUserOfReview} 
                p #{film.reviewS.innerTextOfReview}
            if reviewF !== 'undefined'
                p Review FilmAffinity:
                p Author: #{film.reviewF.innerUserOfReview} 
                p #{film.reviewF.innerTextOfReview}
             
           

          

        script(src="/js/hamburger.js")
